//BOTÓN FOOTER
button{
    background-color: $orange;
    font-family: $poppinsBold;
    font-size: $medium;
    border-color: $white;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}