@media (max-width: 425px) {
  .bar-btn {
    display: block;
    cursor: pointer;
  }

  .navbar__list {
    position: fixed;
    top: 5.2rem;
    bottom: 0;
    background-color: #FFA500;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in;
    -webkit-transition: clip-path 1s ease-in;
    -moz-transition: clip-path 1s ease-in;
    -ms-transition: clip-path 1s ease-in;
    -o-transition: clip-path 1s ease-in;
  }

  .nav__input:checked + .navbar__list {
    clip-path: circle(100% at center);
  }

  .header {
    text-align: center;
  }
  .header__img--size {
    min-width: 100%;
  }

  .footer-container {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding-top: 2rem;
  }

  .footer-container- div {
    padding: 0.5em;
  }

  .div-1 {
    flex-basis: 10%;
  }

  .div-2 {
    flex-basis: 10%;
  }

  .div-3 {
    flex-basis: 10%;
  }

  .div-4 {
    flex-basis: 10%;
  }

  .div-5 {
    flex-basis: 10%;
  }
}
@media (min-width: 426px) {
  .bar-btn {
    display: none;
  }

  .header {
    text-align: center;
  }
  .header__img--size {
    max-width: 50%;
  }

  .footer-container {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding-top: 2rem;
  }

  .footer-container div {
    padding: 0.5em;
  }

  .div-1 {
    flex-basis: 10%;
  }

  .div-2 {
    flex-basis: 10%;
  }

  .div-3 {
    flex-basis: 10%;
  }

  .div-4 {
    flex-basis: 10%;
  }

  .div-5 {
    flex-basis: 10%;
  }
}
@media (min-width: 1024px) {
  .bar-btn {
    display: none;
  }

  .header {
    text-align: center;
  }
  .header__img--size {
    max-width: 50%;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .footer-container div {
    line-height: 4rem;
    padding-bottom: 2rem;
  }

  .div-1 {
    flex-basis: 30%;
    text-align: start;
  }

  .div-2 {
    flex-basis: 10%;
    text-align: end;
  }

  .div-3 {
    flex-basis: 15%;
    text-align: end;
  }

  .div-4 {
    flex-basis: 10%;
  }

  .div-5 {
    flex-basis: 10%;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes move {
  0% {
    transform: translateX(150px);
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -ms-transform: translateX(150px);
    -o-transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.rotate {
  animation: rotate 3s infinite linear;
  -webkit-animation: rotate 3s infinite linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.move {
  animation: move 2s infinite linear alternate;
  -webkit-animation: move 2s infinite linear alternate;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

button {
  background-color: #FFA500;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-color: #FFFFFF;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.input {
  border-color: #FFFFFF;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.navbar {
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.navbar__container {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.navbar__item {
  list-style: none;
  padding: 1rem;
}
.navbar__link {
  text-decoration: none;
  color: #FFFFFF;
}
.navbar__list {
  display: flex;
  justify-content: center;
  align-content: center;
}
.navbar__logo--size {
  width: 3rem;
  padding: 1rem;
}

.bar-btn {
  font-size: 35px;
}

.nav__input {
  display: none;
}

.section1 {
  margin: 1rem 1rem 1rem 1rem;
  border: 2px solid #060606;
}

.box {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #000000;
}

.image {
  width: 100%;
  height: 13rem;
}

.course__details {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-weight: 700;
  padding-top: 1rem;
}

.text {
  font-size: 14px;
  text-align: justify;
  padding: 0rem 1rem 1rem 0rem;
  line-height: 2rem;
}

h3 {
  font-weight: 700;
  padding-bottom: 1rem;
}

i {
  padding-right: 1rem;
}

.section2 {
  margin: 1rem 1rem 1rem 1rem;
  border: 2px solid #060606;
  text-align: center;
}

.us-image {
  margin: 1rem;
  width: 8rem;
  border-radius: 50%;
  border: 1px solid #060606;
}

h2 {
  font-family: "Poppins", sans-serif;
  padding-bottom: 1rem;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  text-align: justify;
  padding: 1rem;
}

.more-courses__title {
  background-color: #060606;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  padding: 0.2rem;
}
.more-courses__details {
  padding-top: 1rem;
  list-style: circle;
  text-align: left;
  font-family: "Poppins", sans-serif;
  padding: 1rem 1rem 1rem 1rem;
}
.more-courses__details a {
  text-decoration: none;
}

.us__more-courses {
  padding: 1rem 1rem 1rem 1rem;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 0rem 7rem;
}

.header {
  text-align: center;
}
.header__img--size {
  min-width: 50%;
}

/*# sourceMappingURL=style.css.map */
